.container {
    /* background-image: url(""); */
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 87, 57, 0.5);
}

.banner-text {
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-text h1 {
    font-weight: 600;
    font-size: 60px;
    font-family: serif;
    animation: FadeRight .6s ease-in;
}

@keyframes FadeRight {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
    }
}

.banner-text p {
    font-family: Serif;
    font-weight: 450;
    text-align: justify;
    font-size: 22px;
    animation: FadeLeft 1s;
}

@keyframes FadeLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
    }
}

.btn {
    border-radius: 4px;
    padding: 6px 8px 6px 8px;
    margin-top: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  

@media (max-width: 768px) {
    .banner-text {
        text-align: center;
        position: absolute;
        width: 100%;
        color: white;
    }

    .banner-text h1 {
        font-size: 30px;
        font-weight: 400;
    }

    .banner-text p {
        font-size: 16px;
        font-weight: 400;
        font-family: system-ui;
        text-align: justify;
        margin: auto;
        width: 80%;
    }
}

@media (max-width: 568px) {
    .banner-text {
        text-align: center;
        position: absolute;
        width: 100%;
        color: white;
    }

    .banner-text h1 {
        font-size: 30px;
        font-weight: 400;
        font-family: Serif;
    }

    .banner-text p {
        font-family: Serif;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        margin: auto;
        width: 80%;
    }

    .btn {
        margin-top: 14px;
        background-color: #FFFFFF;
    }
}